body{
    background: #00FA9A;
}
.cab{
    font-family: Impact;
}
.letras{
    text-align: center;
    padding: 30px;
    font-family: impact;
    color: rgba(243, 56, 56, 0.765);
    font-size: 70px;
    
}

.lista{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    height: 50px;
    font-size: 50px;
    font-family: Impact;
   
    
    
    
}
.principal{
    background: rgba(225, 248, 50, 0.845);
}
.portal{
    width: 400px;
    height: 680px;

}

.fotos{
    width: 400px;
    margin-right: 50px;
    vertical-align: top;
    height: 680px;
    padding: 20px;
    border: white;
}